
@import "fonts.css";

body {
    font-family: "MuseJazzText";
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 180%;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a.disabled {
    pointer-events: none;
}

.menu {
    padding: 0.2em;
}

.menu-item {
    display: inline-block;
    background-color: transparent;
    padding: 0.2em 0.5em;
    border: 2px solid black;
    border-radius: 0.7em;
    cursor: pointer;
}

.menu-item.icon {
    font-family: "MaterialIcons";
    font-size: 18pt;
}

.menu-item.disabled {
    color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
}

.menu-item.active {
    background-color: rgb(220, 220, 220);
}
