
body {
    font-family: "Noto Sans";
    font-size: 12pt;
}

button[name='score-editable'] {
    background-color: transparent;
    padding: 0.5em 1em;
    border: 2px solid black;
    border-radius: 1em;
    position: absolute;
    left: 1em;
    top: 1em;
}

.editable button[name='score-editable'] {
    background-color: rgb(220, 220, 220);
}

h1 {
    font-size: 180%;
}

.score-title,
.grid-properties {
    text-align: center;
}

.score-properties {
    display: table;
    margin: 0 auto;
}

.score-properties div {
    display: inline-block;
    margin: 0 2em;
}

.score-chords table {
    border-collapse: collapse;
    margin: 1rem auto;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.score-chords td {
    padding: 0.5em 1em;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}

.editable td {
    cursor: pointer;
}

.editable .score-chords td:hover {
    background-color: rgb(240, 240, 240);
}

.editable .score-chords td.disabled:hover {
    background-color: transparent;
}

.editable .score-chords td.selected {
    background-color: rgb(230, 230, 230);
}

.editable .score-chords td.selected:hover {
    background-color: rgb(220, 220, 220);
}

.score-chords td:nth-child(3n+3) {
    border-right: 2px solid black;
}

.score-chords tr:nth-child(3n+3) td {
    border-bottom: 2px solid black;
}

.grid-properties,
.palette-view {
    display: none;
}

.editable .grid-properties {
    display: block;
}

.palette-view.editable {
    display: table;
    margin: 1em auto;
}

.score-properties *,
.grid-properties *,
.palette-view * {
    font-size: 120%;
}

input[type='number'] {
    text-align: center;
    width: 3em;
}

input[type='number'][disabled] {
    -moz-appearance: textfield;
    border: none;
    color: black;
}

input[name='score-time-signature-beats'][disabled],
input[name='score-width'][disabled] {
    text-align: right;
}

input[name='score-time-signature-unit'][disabled],
input[name='score-tempo-bpm'][disabled],
input[name='score-height'][disabled] {
    text-align: left;
}

