
@import "fonts.css";

body {
    font-family: "MuseJazzText";
    font-size: 14pt;
}

/* -------------------------------------------------------------------------- *
 * Layout.
 * -------------------------------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.score-view {
    flex-shrink: 1;
    overflow-y: scroll;
}

.palette-view {
    flex-shrink: 0;
}

/* -------------------------------------------------------------------------- *
 * Score properties.
 * -------------------------------------------------------------------------- */

.score-editable {
    background-color: transparent;
    padding: 0.5em 1em;
    border: 2px solid black;
    border-radius: 1em;
    position: absolute;
    left: 1em;
    top: 1em;
    cursor: default;
}

.editable .score-editable {
    background-color: rgb(220, 220, 220);
}

h1 {
    font-size: 180%;
}

.score-title {
    text-align: center;
}

.score-properties {
    display: table;
    margin: 0 auto;
}

.score-size {
    display: none;
}

.score-time-signature,
.score-tempo,
.editable .score-size {
    display: inline-block;
    margin: 0 1em;
}

.score-tempo-unit,
input[type=number] {
    font-family: "MuseJazzText";
    font-size: 18pt;
}

.editable .score-tempo-unit {
    padding: 0 0.5em;
    cursor: pointer;
}

.editable .score-tempo-unit,
input[type='number'] {
    border: 1px solid black;
    border-radius: 0.5em;
}

input[type='number'] {
    text-align: center;
    width: 3em;
}

input[type='number'][disabled] {
    -moz-appearance: textfield;
    border: none;
    color: black;
}

input[name='score-time-signature-beats'][disabled],
input[name='score-width'][disabled] {
    text-align: right;
}

input[name='score-time-signature-unit'][disabled],
input[name='score-tempo-bpm'][disabled],
input[name='score-height'][disabled] {
    text-align: left;
}

/* -------------------------------------------------------------------------- *
 * Palette.
 * -------------------------------------------------------------------------- */

.palette-view {
    display: none;
}

.palette-view.editable {
    display: table;
    margin: 1em auto;
}

.palette-group {
    display: table;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0.5rem 0.1rem;
}

.palette-row {
    display: table-cell;
    border-spacing: 0.2rem 0rem;
}

.palette-item {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.4rem 0.9rem;
    cursor: pointer;
}

.palette-item.active {
    background-color: rgb(220, 220, 220);
}

/* -------------------------------------------------------------------------- *
 * Score view.
 * -------------------------------------------------------------------------- */

.score-chords svg {
    display: table;
    margin: 1rem auto;
}

.score-chords rect.outline,
.score-chords line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.score-chords line.diagonal {
    stroke-width: 1px;
}

.score-chords .slot {
    fill: transparent;
    stroke: none;
}

.editable .score-chords .slot:not(.inactive):hover {
    fill: rgba(0, 0, 0, 10%);
    cursor: pointer;
}

.editable .score-chords .slot.selected {
    fill: rgba(0, 0, 0, 15%);
}

.editable .score-chords .slot.selected:hover {
    fill: rgba(0, 0, 0, 20%);
}

.score-chords text.chord {
    font-family: "MuseJazzText";
    text-align: center;
    text-anchor: middle;
}

.score-chords text.chord tspan {
    dominant-baseline: central;
}

.score-chords text.chord .sup {
    /* vertical-align: 25%; Does not work in Firefox */
    font-size: 75%;
}

rect.debug {
    display: none;
    fill: rgba(255, 0, 0, 15%);
}

