
body {
    font-family: "Noto Sans";
    font-size: 12pt;
}

button[name='score-editable'] {
    background-color: transparent;
    padding: 0.5em 1em;
    border: 2px solid black;
    border-radius: 1em;
    position: absolute;
    left: 1em;
    top: 1em;
}

.editable button[name='score-editable'] {
    background-color: rgb(220, 220, 220);
}

h1 {
    font-size: 180%;
}

.score-title,
.grid-properties {
    text-align: center;
}

.score-properties {
    display: table;
    margin: 0 auto;
}

.score-properties div {
    display: inline-block;
    margin: 0 2em;
}

.score-chords svg {
    display: table;
    margin: 1rem auto;
}

.score-chords rect.outline,
.score-chords line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.score-chords .slot {
    fill: transparent;
    stroke: none;
}

.editable .score-chords .slot:not(.inactive):hover {
    fill: rgba(0, 0, 0, 10%);
    cursor: pointer;
}

.editable .score-chords .slot.selected {
    fill: rgba(0, 0, 0, 15%);
}

.editable .score-chords .slot.selected:hover {
    fill: rgba(0, 0, 0, 20%);
}

.score-chords text.chord {
    text-align: center;
    text-anchor: middle;
    dominant-baseline: central;
}

.score-chords text.chord .sup {
    /* vertical-align: 25%; Does not work in Firefox */
    font-size: 75%;
}

.grid-properties,
.palette-view {
    display: none;
}

.editable .grid-properties {
    display: block;
}

.palette-view.editable {
    display: table;
    margin: 1em auto;
}

.score-properties *,
.grid-properties *,
.palette-view * {
    font-size: 120%;
}

input[type='number'] {
    text-align: center;
    width: 3em;
}

input[type='number'][disabled] {
    -moz-appearance: textfield;
    border: none;
    color: black;
}

input[name='score-time-signature-beats'][disabled],
input[name='score-width'][disabled] {
    text-align: right;
}

input[name='score-time-signature-unit'][disabled],
input[name='score-tempo-bpm'][disabled],
input[name='score-height'][disabled] {
    text-align: left;
}

