
@import "common.css";

/* -------------------------------------------------------------------------- *
 * Layout.
 * -------------------------------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.score-view {
    flex-shrink: 1;
    overflow-y: scroll;
}

.palette-view {
    flex-shrink: 0;
}

/* -------------------------------------------------------------------------- *
 * Main buttons.
 * -------------------------------------------------------------------------- */

.big-button {
    font-family: "Heydings Controls";
    position: absolute;
    top: 1em;
}

.score-index-btn {
    left: 1em;
}

.score-edit-btn {
    right: 5.5em;
}

.score-fullscreen-btn {
    right: 1em;
}

.score-fullscreen-btn.active,
.editable .score-edit-btn {
    background-color: rgb(220, 220, 220);
}

/* -------------------------------------------------------------------------- *
 * Score properties.
 * -------------------------------------------------------------------------- */

.score-properties {
    display: table;
    margin: 0 auto;
}

.score-view:not(.editable) .score-size {
    display: none;
}

.input-group {
    display: inline-block;
    margin: 0 1em;
}

.score-tempo-unit,
input[type=number] {
    font-family: "MuseJazzText";
    font-size: 18pt;
}

.editable .score-tempo-unit {
    padding: 0 0.5em;
    cursor: pointer;
}

.editable .score-tempo-unit,
input[type='number'] {
    border: 1px solid black;
    border-radius: 0.5em;
}

input[type='number'] {
    text-align: center;
    width: 3em;
}

input[type='number'][disabled] {
    -moz-appearance: textfield;
    border: none;
    color: black;
}

.score-time-beats[disabled],
.score-width[disabled] {
    text-align: right;
}

.score-time-unit[disabled],
.score-tempo-bpm[disabled],
.score-height[disabled] {
    text-align: left;
}

/* -------------------------------------------------------------------------- *
 * Palette.
 * -------------------------------------------------------------------------- */

.palette-view {
    display: none;
}

.palette-view.editable {
    display: table;
    margin: 1em auto;
}

.palette-group {
    display: table;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0.5rem 0.1rem;
}

.palette-row {
    display: table-cell;
    border-spacing: 0.2rem 0rem;
}

.palette-item {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.4rem 0.9rem;
    cursor: pointer;
}

.palette-item.active {
    background-color: rgb(220, 220, 220);
}

/* -------------------------------------------------------------------------- *
 * Score view.
 * -------------------------------------------------------------------------- */

.score-chords {
    display: table;
    margin: 1rem auto;
}

.score-chords rect.outline,
.score-chords line {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.score-chords line.diagonal {
    stroke-width: 1px;
}

.score-chords .slot {
    fill: transparent;
    stroke: none;
}

.editable .score-chords .slot:not(.inactive):hover {
    fill: rgba(0, 0, 0, 10%);
    cursor: pointer;
}

.editable .score-chords .slot.selected {
    fill: rgba(0, 0, 0, 15%);
}

.editable .score-chords .slot.selected:hover {
    fill: rgba(0, 0, 0, 20%);
}

.score-chords text.chord {
    font-family: "MuseJazzText";
    text-align: center;
    text-anchor: middle;
}

.score-chords text.chord tspan {
    dominant-baseline: central;
}

.score-chords text.chord .sup {
    /* vertical-align: 25%; Does not work in Firefox */
    font-size: 75%;
}

.score-chords rect.debug {
    display: none;
    fill: rgba(255, 0, 0, 15%);
}

