
@font-face {
    font-family: "MuseJazz";
    src: url("../../assets/fonts/MuseJazz/MuseJazz.otf") format("opentype");
}

@font-face {
    font-family: "MuseJazzText";
    src: url("../../assets/fonts/MuseJazz/MuseJazzText.otf") format("opentype");
}

@font-face {
    font-family: "MaterialIcons";
    src: url("../../assets/fonts/MaterialIcons/MaterialIconsRound-Regular.otf") format("opentype");
}
