
@font-face {
    font-family: "MuseJazz";
    src: url("../../assets/fonts/MuseJazz/MuseJazz.otf") format("opentype");
}

@font-face {
    font-family: "MuseJazzText";
    src: url("../../assets/fonts/MuseJazz/MuseJazzText.otf") format("opentype");
}

@font-face {
    font-family: "Heydings Controls";
    src: url("../../assets/fonts/HeydingsControls/heydings_controls.ttf") format("truetype");
}
