
@import "common.css";

.new-score-btn {
    position: absolute;
    left: 1em;
    top: 1em;
}

.score-list {
    display: table;
    margin: 1rem auto;
}

.score-title {
    display: block;
    margin-top: 0.25rem;
}
